{% extends 'layouts/base.twig' %}

{% block layout_body %}
<main>
    <div class="container">
        <h1>Login</h1>
        {% include 'components/form-errors.twig' %}
        <form method="post" action="{{ route('login') }}">
            {{ csrf_field() }}

            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="email-help" value="{{ old('email') }}">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>

    </div>
</main>

<script>
    $(function() {
        $('#email').focus();
    });
</script>
{% endblock layout_body %}
