{% extends 'layouts/base.twig' %}

{% block layout_header_custom %}

{% endblock layout_header_custom %}

{% block layout_featured %}
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                {% include 'components/gfd/release-box.twig' with {'Release': LatestNotAlbum, 'HeaderDesc': 'Recent release', 'HeaderStyle': 'text-success'} %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                {% include 'components/gfd/release-box.twig' with {'Release': LatestAlbum, 'HeaderDesc': 'Latest album', 'HeaderStyle': 'text-primary'} %}
            </div>
        </div>
    </div>
{% endblock layout_featured %}

{% block page_body %}

    <h3 class="pb-4 mb-4 border-bottom">
        More releases...
    </h3>

    {% for item in LatestNotAlbumSkipFirst %}
        <div class="row">
            <div class="col">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    {% include 'components/gfd/release-box.twig' with {'Release': item, 'HeaderDesc': 'Recent release', 'HeaderStyle': 'text-success'} %}
                </div>
            </div>
        </div>
    {% endfor %}

    {#
    <article class="blog-post">
        <h2 class="blog-post-title">Alive</h2>
        <p class="blog-post-meta">Aug 9, 2024</p>
        <p>
            Funky vibes.
        </p>
    </article>

    <article class="blog-post">
        <h2 class="blog-post-title">Take it Slow</h2>
        <p class="blog-post-meta">Jun 7, 2024</p>
        <p>
            Funky vibes.
        </p>
    </article>

    <article class="blog-post">
        <h2 class="blog-post-title">I Just Wanna Be With You</h2>
        <p class="blog-post-meta">May 10, 2024</p>
        <p>
            Funky vibes.
        </p>
    </article>

    <nav class="blog-pagination" aria-label="Pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
    </nav>
    #}

{% endblock page_body %}
